<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.ifengyu.intercom" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SECURES"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE"/>
    <uses-permission android:name="com.ifengyu.intercom.permission.MIPUSH_RECEIVE"/>
    <permission android:name="com.ifengyu.intercom.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.ifengyu.intercom.MiTalkiApp" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="3dc5467acd6ed5ce9b54ad974419b2f5"/>
        <activity android:name="com.amap.api.maps.offlinemap.OfflineMapActivity" android:screenOrientation="portrait"/>
        <service android:name="com.amap.api.location.APSService"/>
        <service android:enabled="true" android:name="com.xiaomi.push.service.XMPushService" android:process=":pushservice"/>
        <service android:enabled="true" android:exported="false" android:name="com.xiaomi.push.service.XMJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":pushservice"/>
        <service android:enabled="true" android:exported="true" android:name="com.xiaomi.mipush.sdk.PushMessageHandler"/>
        <service android:enabled="true" android:name="com.xiaomi.mipush.sdk.MessageHandleService"/>
        <receiver android:exported="true" android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.xiaomi.push.service.receivers.PingReceiver" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.ifengyu.intercom.receiver.FengyuMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.ifengyu.intercom.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:name="com.ifengyu.intercom.service.ShareLocationService"/>
        <service android:name="com.ifengyu.intercom.service.logCollect.LogCollectService"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent101388710"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:launchMode="singleTask" android:name="com.xiaomi.account.openauth.AuthorizeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.CustomizedAuthorizedActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:launchMode="singleTask" android:name="com.ifengyu.intercom.ui.SplashActivity" android:screenOrientation="portrait" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="intercom" android:path="/splash" android:scheme="fymi"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.ifengyu.intercom.ui.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.ConnectDeviceActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:launchMode="singleTask" android:name="com.ifengyu.intercom.device.oldDevice.BleDeviceMapActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.MyInfoSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.dolphin.activity.SetDolphinBleNameActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar" android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.SetSealSharkBleNameActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar" android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.AutoSendLocationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:launchMode="singleTop" android:name="com.ifengyu.intercom.device.oldDevice.dolphin.update.DolphinUpdateMcuActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.QuestionFeedbackActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.MyFeedBackActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:launchMode="singleTask" android:name="com.ifengyu.intercom.ui.activity.WebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.SetMyOtherInfoActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar" android:windowSoftInputMode="stateVisible"/>
        <activity android:launchMode="singleTop" android:name="com.ifengyu.intercom.ui.activity.UserGuideActivity" android:theme="@style/TransparentActivity"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.dolphin.activity.DolphinSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:launchMode="singleTask" android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.shark.activity.SharkSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.dolphin.activity.DolphinRelayEditActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealChannelEditActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.dolphin.activity.DolphinCHSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealChannelSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.shark.activity.SharkChannelSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.GaoDeMapToolOperateActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.ExamQuestionBankActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:exported="true" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.ifengyu.intercom.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.GaoDeMapDownLoadedActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.GaoDeOfflineMapCityActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.SealSharkMcuUpdateActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealMoreSettingActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealPresetChCssEditActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.shark.activity.SharkChannelEditActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.shark.activity.SharkPresetChCssEditActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealBleEarConnectActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealBtEarGuide1Activity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealBtEarGuide2Activity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealBtEarDisConnActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.device.oldDevice.sealshark.seal.activity.SealBtEarHelpActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.UserImprovePlanActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransStatusBar"/>
        <activity android:launchMode="singleTask" android:name="com.ifengyu.intercom.ui.login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.device.lite.LiteUpgradeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.device.lite.LiteSettingHolderActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.ui.login.SetupPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.device.lite.WebActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.DiscoveryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.ifengyu.intercom.ui.talk.TalkActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.ifengyu.intercom.ui.talk.SessionTalkActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.device.mi3gw.Mi3GWDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.ui.activity.UserProtocolActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ifengyu.intercom.device.mi3.activity.Mi3SettingHolderActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.zhihu.matisse.ui.MatisseActivity"/>
        <activity android:name="com.zhihu.matisse.internal.ui.AlbumPreviewActivity"/>
        <activity android:name="com.zhihu.matisse.internal.ui.SelectedPreviewActivity"/>
        <service android:name="com.shanlitech.et.core.CoreService"/>
        <provider android:authorities="com.ifengyu.intercom.AgentWebFileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.just.agentweb.AgentWebFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/web_files_public"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="standard" android:name="com.just.agentweb.ActionActivity" android:theme="@style/actionActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.xiaomi.accountsdk.diagnosis.ui.PassportDiagnosisActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <provider android:authorities="com.ifengyu.intercom.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="huawei_module_scankit_local" android:value="10320300"/>
        <meta-data android:name="huawei_module_scankit_sdk_version" android:value="scan:2.1.0.300"/>
        <meta-data android:name="com.huawei.hms.client.service.name:scan" android:value="scan:2.1.0.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:scan:huawei_module_scankit" android:value="1"/>
        <meta-data android:name="com.huawei.hms.min_api_level:scan:hmscore" android:value="1"/>
        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:multiprocess="true" android:name="com.blankj.utilcode.util.UtilsTransActivity" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.ifengyu.intercom.utilcode.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.blankj.utilcode.util.UtilsFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service android:exported="false" android:name="com.blankj.utilcode.util.MessengerUtils$ServerService">
            <intent-filter>
                <action android:name="com.ifengyu.intercom.messenger"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.ifengyu.intercom.com.liulishuo.okdownload" android:exported="false" android:name="com.liulishuo.okdownload.OkDownloadProvider"/>
        <provider android:authorities="com.ifengyu.intercom.InitProvider" android:exported="false" android:multiprocess="true" android:name="com.mic.etoast2.InitProvider"/>
        <meta-data android:name="com.huawei.hms.client.service.name:dynamic-api" android:value="dynamic-api:1.0.13.303"/>
        <meta-data android:name="com.huawei.hms.min_api_level:dynamic-api:huawei_module_dynamicloader" android:value="2"/>
        <provider android:authorities="com.ifengyu.intercom.MLInitializerProvider" android:exported="false" android:name="com.huawei.hms.mlsdk.common.provider.MLInitializerProvider"/>
        <provider android:authorities="com.ifengyu.intercom.AGCInitializeProvider" android:exported="false" android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"/>
        <service android:exported="false" android:name="com.huawei.agconnect.core.ServiceDiscovery"/>
    </application>
</manifest>